[run]
source = src
omit = src/tests/**,**__init__.py,src/index.py,src/entities/display_manager.py,src/entities/button.py,src/entities/input_box.py,src/entities/hunger_generator.py,src/entities/game_sprite.py